@import "tailwindcss";
@plugin '@tailwindcss/typography';

@layer base {
  :root{
    font-family: var(--font-univers-regular), sans-serif;
  }
  h1,h2,h3,h4,h5,h6 {
    font-family: var(--font-univers-bold), sans-serif;
    font-size: 2em;
    color: var(--color-es-logo-primary);
  }
}

@layer components {

}

@layer utilities {
  .prose h2 {
    color: var(--color-es-logo-primary);
  }
}

@theme {
  --color-es-logo-primary: #41758a;
  --color-es-logo-secondary: rgb(198,172,147);
  --color-es-primary: #7198ac;
  --color-es-gray: rgba(0,0,0,60%);
  --color-es-white: #f4f2f1;
  --font-univers-regular: "UniversRegular", sans-serif;
  --font-univers-bold: "UniversBold", sans-serif;
  --font-univers-condensed: "UniversCondensed", sans-serif;
}

@font-face {
  font-family: 'UniversBold';
  src: url('/fonts/universltstd-bold-webfont.woff2') format('woff2'),
       url('/fonts/universltstd-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'UniversCondensed';
  src: url('/fonts/universltstd-boldcn-webfont.woff2') format('woff2'),
       url('/fonts/universltstd-boldcn-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'UniversRegular';
  src: url('/fonts/universltstd-webfont.woff2') format('woff2'),
       url('/fonts/universltstd-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}