@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-turquesa: #41758a;
  --color-marron: rgb(198,172,147);
  --color-text: #7198ac;
  --color-text-gray: rgba(0,0,0,60%);
  --color-white: #cabeda;
}