---
import Layout from '@layouts/Layout.astro';
import Container from '@components/Container.astro';
import Form from '@components/Form.astro';
---

<Layout title='Kontakt' description='Erika Schweizer - Psychoterapeuten'>
    <Container title='Kontakt' className=''>
        <p>
            Praxis für Psychotherapie Erika Schweizer Heilpraktikerin für
            Psychotherapie (HPG)
        </p>
        <p>
            Professor-Huber-Straße 1, 82008 Unterhaching, Tel: 089 18910330,
            Mail: <a
                href='mailto:info@schweizer-psychotherapie.de'
                class='underline hover:text-es-logo-primary'
            >
                info@schweizer-psychotherapie.de
            </a>
        </p>
        <Form />
        <!-- <section>
            <h3>Die Anfahrt mit den öffentlichen Verkehrsmitteln:</h3>
            <p>
                Praxis für Psychotherapie Erika Schweizer,
                Professor-Huber-Straße 1, 82008 Unterhaching
            </p>
            <p>
                Die U-Bahnhaltestelle „xxxx“ ist wenige Gehminuten von der
                Praxis entfernt.
            </p>
            <ul>
                <li>U-Bahn Linie Ux oder Ux, Haltestelle: xxxx</li>
                <li>Bus Linie xx, Haltestelle: xxxx</li>
            </ul>

            <p>www.mvv-muenchen.de</p>

            <h3>Die Anfahrt mit dem Auto:</h3>

            <p>Parkplätze lorem ipsum.</p>
            <ul>
                <li>
                    vero ma voluptionse paruptatibus expediaspedi cuptur maiorem
                </li>
                <li>
                    qui ullam, quam fugiat ersped molorpos aut la pliqui blaut
                    dolestis deriaturepe
                </li>
            </ul>

            <p>map</p>
        </section> -->
    </Container>
</Layout>
