---
import Layout from '@layouts/Layout.astro';
import Container from '@components/Container.astro';
---

<Layout title='Kontakt' description='Erika Schweizer - Psychoterapeuten'>
    <Container title='Kontakt' className=''>
        <p>
            Praxis für Psychotherapie Erika Schweizer Heilpraktikerin für
            Psychotherapie (HPG)
        </p>
        <p>
            Professor-Huber-Straße 1, 82008 Unterhaching, Tel: 089 18910330,
            Mail: <a
                href='mailto:info@schweizer-psychotherapie.de'
                class='underline hover:text-es-logo-primary'
            >
                info@schweizer-psychotherapie.de
            </a>
        </p>

        <section class='my-8'>
            <form
                name='kontakt'
                method='POST'
                data-netlify='true'
                class='flex flex-col gap-4 prose'
            >
                <input
                    type='text'
                    name='name'
                    class='shadow shadow-gray-200 rounded bg-white text-es-gray py-2 px-4'
                    placeholder='*Vorname Nachname'
                    required
                    maxlength='30'
                    minlength='3'
                />

                <input
                    type='email'
                    name='email'
                    class='shadow shadow-gray-200 rounded bg-white text-es-gray py-2 px-4'
                    placeholder='*E-Mail-Adresse'
                    required
                    maxlength='30'
                    minlength='6'
                />

                <textarea
                    name='message'
                    class='shadow shadow-gray-200 rounded bg-white text-es-gray py-2 px-4'
                    placeholder='*Nachricht'
                    required
                    maxlength='500'
                    minlength='50'
                >
                </textarea>

                <label for='datenschutz' class='flex gap-2 self-baseline'>
                    <input
                        type='checkbox'
                        name='datenschutz'
                        required
                        class=''
                        required
                    />
                    Ich habe die Datenschutzerklärung gelesen und akzeptiere sie.
                </label>

                <div data-netlify-recaptcha='true'></div>

                <button
                    type='submit'
                    class='uppercase bg-es-logo-primary/80 hover:bg-es-logo-primary rounded text-white cursor-pointer px-4 py-2 max-w-fit'
                    >Absenden</button
                >
            </form>
        </section>
        <!-- <section>
            <h3>Die Anfahrt mit den öffentlichen Verkehrsmitteln:</h3>
            <p>
                Praxis für Psychotherapie Erika Schweizer,
                Professor-Huber-Straße 1, 82008 Unterhaching
            </p>
            <p>
                Die U-Bahnhaltestelle „xxxx“ ist wenige Gehminuten von der
                Praxis entfernt.
            </p>
            <ul>
                <li>U-Bahn Linie Ux oder Ux, Haltestelle: xxxx</li>
                <li>Bus Linie xx, Haltestelle: xxxx</li>
            </ul>

            <p>www.mvv-muenchen.de</p>

            <h3>Die Anfahrt mit dem Auto:</h3>

            <p>Parkplätze lorem ipsum.</p>
            <ul>
                <li>
                    vero ma voluptionse paruptatibus expediaspedi cuptur maiorem
                </li>
                <li>
                    qui ullam, quam fugiat ersped molorpos aut la pliqui blaut
                    dolestis deriaturepe
                </li>
            </ul>

            <p>map</p>
        </section> -->
    </Container>
</Layout>
