---
import Layout from '@layouts/Layout.astro';
import Container from '@components/Container.astro';
import Form from '@components/Form.astro';
import LeafletMap from '@components/LeafletMap.astro';

const STORE_COORDINATES: [number, number] = [48.07017, 11.604019];
// Adress: Professor-Huber-Straße 1, 82008 Unterhaching
const mapZoom = 16;
---

<Layout title='Kontakt' description='Erika Schweizer - Psychoterapeuten'>
    <Container title='Kontakt' className=''>
        <article class='prose'>
            <p>
                Praxis für Psychotherapie Erika Schweizer Heilpraktikerin für
                Psychotherapie (HPG)
            </p>
            <p>
                Professor-Huber-Straße 1, 82008 Unterhaching, Tel: 089 18910330,
                Mail: <a
                    href='mailto:info@schweizer-psychotherapie.de'
                    class='underline hover:text-es-logo-primary'
                >
                    info@schweizer-psychotherapie.de
                </a>
            </p>
            <Form />
        </article>
        <article class='prose mt-8'>
            <h2>Die Anfahrt mit den öffentlichen Verkehrsmitteln:</h2>
            <p>
                Praxis für Psychotherapie Erika Schweizer,
                Professor-Huber-Straße 1, 82008 Unterhaching
            </p>
            <p>
                Die U-Bahnhaltestelle „xxxx“ ist wenige Gehminuten von der
                Praxis entfernt.
            </p>
            <ul>
                <li>U-Bahn Linie Ux oder Ux, Haltestelle: xxxx</li>
                <li>Bus Linie xx, Haltestelle: xxxx</li>
            </ul>

            <p>www.mvv-muenchen.de</p>

            <h3>Die Anfahrt mit dem Auto:</h3>

            <p>Parkplätze lorem ipsum.</p>
            <ul>
                <li>
                    vero ma voluptionse paruptatibus expediaspedi cuptur maiorem
                </li>
                <li>
                    qui ullam, quam fugiat ersped molorpos aut la pliqui blaut
                    dolestis deriaturepe
                </li>
            </ul>
        </article>

        <LeafletMap
            coordinates={STORE_COORDINATES}
            zoom={mapZoom}
            containerClass='max-w-2xl my-8'
        />
    </Container>
</Layout>
