---
import Container from '@components/Container.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title='Leistungen' description='Erika Schweizer - Psychoterapeuten'>
    <Container title='Leistungen' className='flex flex-col gap-4'>
        <div class='prose'>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                malesuada, nunc nec lacinia ultricies, nunc sapien ultricies
                sapien, nec ultricies nunc sapien nec
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
                est ab mollitia tempora deserunt repellendus maxime sapiente
                dolore, inventore eligendi, rem quam repudiandae. Accusamus
                quidem quam voluptatem nostrum adipisci optio?
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
                est ab mollitia tempora deserunt repellendus maxime sapiente
                dolore, inventore eligendi, rem quam repudiandae. Accusamus
                quidem quam voluptatem nostrum adipisci optio?
            </p>
            <h2 id='leistungen1'>Leistungen 1</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
                est ab mollitia tempora deserunt repellendus maxime sapiente
                dolore, inventore eligendi, rem quam repudiandae. Accusamus
                quidem quam voluptatem nostrum adipisci optio?
            </p><p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
                est ab mollitia tempora deserunt repellendus maxime sapiente
                dolore, inventore eligendi, rem quam repudiandae. Accusamus
                quidem quam voluptatem nostrum adipisci optio?
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
                est ab mollitia tempora deserunt repellendus maxime sapiente
                dolore, inventore eligendi, rem quam repudiandae. Accusamus
                quidem quam voluptatem nostrum adipisci optio?
            </p>
            <h2 id='leistungen2'>Leistungen 2</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
                est ab mollitia tempora deserunt repellendus maxime sapiente
                dolore, inventore eligendi, rem quam repudiandae. Accusamus
                quidem quam voluptatem nostrum adipisci optio?
            </p><p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
                est ab mollitia tempora deserunt repellendus maxime sapiente
                dolore, inventore eligendi, rem quam repudiandae. Accusamus
                quidem quam voluptatem nostrum adipisci optio?
            </p><p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
                est ab mollitia tempora deserunt repellendus maxime sapiente
                dolore, inventore eligendi, rem quam repudiandae. Accusamus
                quidem quam voluptatem nostrum adipisci optio?
            </p>
            <h2 id='leistungen3'>Leistungen 3</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
                est ab mollitia tempora deserunt repellendus maxime sapiente
                dolore, inventore eligendi, rem quam repudiandae. Accusamus
                quidem quam voluptatem nostrum adipisci optio?
            </p><p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
                est ab mollitia tempora deserunt repellendus maxime sapiente
                dolore, inventore eligendi, rem quam repudiandae. Accusamus
                quidem quam voluptatem nostrum adipisci optio?
            </p><p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
                est ab mollitia tempora deserunt repellendus maxime sapiente
                dolore, inventore eligendi, rem quam repudiandae. Accusamus
                quidem quam voluptatem nostrum adipisci optio?
            </p>
            <h2 id='leistungen4'>Leistungen 4</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
                est ab mollitia tempora deserunt repellendus maxime sapiente
                dolore, inventore eligendi, rem quam repudiandae. Accusamus
                quidem quam voluptatem nostrum adipisci optio?
            </p><p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
                est ab mollitia tempora deserunt repellendus maxime sapiente
                dolore, inventore eligendi, rem quam repudiandae. Accusamus
                quidem quam voluptatem nostrum adipisci optio?
            </p><p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
                est ab mollitia tempora deserunt repellendus maxime sapiente
                dolore, inventore eligendi, rem quam repudiandae. Accusamus
                quidem quam voluptatem nostrum adipisci optio?
            </p><p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
                est ab mollitia tempora deserunt repellendus maxime sapiente
                dolore, inventore eligendi, rem quam repudiandae. Accusamus
                quidem quam voluptatem nostrum adipisci optio?
            </p>
        </div>
    </Container>
</Layout>
