---
interface ContainerProps {
    title: string;
    className?: string;
}
const { title, className } = Astro.props as ContainerProps;
---

<article>
    <h1 class='my-4'>{title}</h1>
    <div class:list={[' w-[85%] justify-center gap-6 mt-8 mx-auto', className]}>
        <slot />
    </div>
</article>
