---
import HeaderLink from './HeaderLink.astro';

const footerItems = [
    { href: '/', text: 'Impressum' },
    { href: '/', text: 'Datenschutz' },
];
---

<footer class='mt-12'>
    <nav
        class='flex justify-end gap-8 border-es-primary border-t py-2 mt-4 uppercase'
    >
        {
            footerItems.map((item) => (
                <HeaderLink href={item.href} class='text-sm uppercase'>
                    {item.text}
                </HeaderLink>
            ))
        }
    </nav>
</footer>
