<footer class='mt-12'>
    <nav
        class='flex justify-end gap-8 border-es-primary border-t py-2 mt-4 uppercase'
    >
        <a href='/'>Impressum</a>
        <a href='/'>Datenschutz</a>
    </nav>
</footer>
