---
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '@constants/consts';
import Sidebar from '@components/Sidebar.astro';
---

<!doctype html>
<html lang='de'>
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body
        class='relative min-h-screen bg-es-white p-4 md:p-8 md:mx-auto md:max-w-[1400px] flex flex-col'
    >
        <Header />
        <main class='grow'>
            <slot />
        </main>
        <Sidebar />
        <Footer />
    </body>
</html>

<style is:global>
    /* To Debug */
    /* * {
        background: #000 !important;
        color: #0f0 !important;
        outline: solid #f00 1px !important;
    } */
</style>
