---
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from 'src/consts';
---

<!doctype html>
<html lang='de'>
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body
        class='relative min-h-screen bg-es-white p-8 md:mx-auto md:max-w-[1400px]'
    >
        <Header />
        <main class=''>
            <slot />
        </main>
    </body>
</html>
