<!-- this is not part of the web -->
<div class='border border-gray-950 bg-white w-full p-6 flex h-fit gap-4'>
    <div class='border border-black w-fit h-8 bg-es-primary'>primary</div>
    <div class='border border-black w-fit h-8 bg-es-gray'>gray</div>
    <div class='border border-black w-fit h-8 bg-es-white'>white</div>
    <div class='border border-black w-fit h-8 bg-es-logo-primary'>
        logo-primary
    </div>
    <div class='border border-black w-fit h-8 bg-es-logo-secondary'>
        logo-secondary
    </div>
</div>
